@page
@model TimeTrackerProject.Pages.AddTimecardModel
@{
}


<form>
    <label for="fname">Username:</label><br>
    <input type="text" id="username" name="username"><br>
    <label for="fname">Time In:</label><br>
    <input type="text" id="timein" name="timein"><br>
    <label for="fname">Time Out:</label><br>
    <input type="text" id="timeout" name="timeout"><br>
    <label for="fname">Comment:</label><br>
    <input type="text" id="comment" name="comment"><br>
</form>
<br />
<br />

@*Placeholder buttons -- "Add Time" button needs to send form*@
<a onclick="goBack()" class="btn btn-primary">Add Time</a> <a onclick="goBack()" class="btn btn-primary">Cancel</a>


<script>

    function goBack() {
      window.history.back();
    }

</script>