@page
@model TimeTrackerProject.Pages.GroupsModel
@{
}


<h1>Groups:</h1>

<form action="/GroupTimecard">
    <input type="submit" value="View Pretend Group's Page" />
</form>

<br /><br />

<form action="/CreateGroup">
    <input type="submit" value="Create New Group" />
</form>