@page
@model TimeTrackerProject.Pages.GroupTimecardModel
@{
}


<h1>This is where the group's timecard would display.</h1>

<br />
<br />

<form action="/AddTimecard">
    <input type="submit" value="Enter Time" />
</form>
<br /><br />
<form action="/Groups">
    <input type="submit" value="View All Groups" />
</form>