@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Time Tracker</h1>
    <p><a class="alert-link" asp-page="/Login">Login</a> or <a class="alert-link" asp-page="/Register">Register as a new user</a></p>
</div>
