@page 
@model TimeTrackerProject.Pages.CreateGroupModel
@{
}

<h2>Creating New Group</h2>

<form method="post">
    <div class="form-group">
        <label asp-for="Group.Name"></label>
        <input asp-for="Group.Name" class="form-control" />
        <span class="text-danger" asp-validation-for="Group.Name"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>
<br />
<br />

<a asp-page="./Groups" class="btn btn-primary"> All Groups</a> <a onclick="goBack()" class="btn btn-primary">Cancel</a>


<script>

    function goBack() {
        window.history.back();
    }

</script>