@page
@model TimeTrackerProject.Pages.CreateGroupModel
@{
}

<form>
    <label for="fname">Group Name:</label><br>
    <input type="text" id="gname" name="gname"><br>
</form>
<br /><br />

<a asp-page="./Groups" class="btn btn-primary"> All Groups</a> <a onclick="goBack()" class="btn btn-primary">Cancel</a>


<script>

    function goBack() {
        window.history.back();
    }

</script>