@page
@model TimeTrackerProject.Pages.GroupsModel
@{
}


<h1>Groups</h1>
@if(Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}

<table class="table">
    @foreach(var group in Model.Groups)
    {
        <tr>
            <td>@group.Name</td>
            <td>@group.TotalHours</td>
            <td>
                <a class="btn btn-primary"
                   asp-page="./GroupTimeCard"
                   asp-route-groupId="@group.Id">
                    <i class="fas fa-plus"></i>&nbsp;Join Group
                </a>
            </td>
        </tr>
    }
</table>

<a asp-page="./CreateGroup" class="btn btn-primary">Create New Group</a>
