@page
@{
    ViewData["Title"] = "NotFound";
}

<h2>Your Group was not found</h2>
<a asp-page="./Groups" class="btn btn-primary">See All Groups</a>

@* CSS *@
<style>

    header {
        background: white;
    }

    footer {
        background: black;
        opacity: .7;
    }

    body {
        /* background-color: #492365; */
        background-image: url('../images/4703133.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100%;
    }

    .pageContents {
        margin-top: 75px;
    }

    .table {
        background-color: white;
        margin: 0px;
    }

    .headerRow {
        font-weight: bold;
    }

    .btn {
        background-color: #009844;
        color: white;
        font-weight: bold;
        border-style: none;
    }

    .btn:hover {
        background-color: #00C957;
        border-style: none;
    }

    .btn:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }

</style>